In [1]:
import pandas as pd
import numpy as np

In [2]:
from datetime import datetime

In [3]:
#date_parser=lambda x:datetime(x,"%Y-%m-%d")

In [4]:
verified_date=('2081-03-04') #change the date as required to report

Read Sample file

In [5]:
sample=pd.read_excel('../ACORN-HAI/2024_06_18/MIDAS_Sample_2024_06_18.xlsx',skiprows=4)
sample_stat=pd.read_excel('../ACORN-HAI/2024_06_18/MIDAS_Sample_stat_2024_06_18.xlsx',skiprows=4)
blood=pd.read_excel('../ACORN-HAI/2024_06_18/MIDAS_BLOOD_REPORT_2024_06_18.xlsx',skiprows=4)
bal=pd.read_excel('../ACORN-HAI/2024_06_18/MIDAS_BAL_REPORT_2024_06_18.xlsx',skiprows=4)
et=pd.read_excel('../ACORN-HAI/2024_06_18/MIDAS_ET_REPORT_2024_06_18.xlsx',skiprows=4)
#sample.head(5)

In [6]:
#sample_stat['VERIFIEDDATETIME'] = sample_stat['VERIFIEDDATETIME'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [7]:
#converting Verified DateTime type from str to datetime format
sample_stat['VERIFIEDDATETIME'] = pd.to_datetime(sample_stat['VERIFIEDDATETIME'],format='%Y-%m-%d',errors='coerce')

In [8]:
sample.fillna(method='ffill', inplace = True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_14584\2099482098.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  sample.fillna(method='ffill', inplace = True)

In [9]:
sample.count()

S.No               911
patientid          911
patientname        911
SN                 911
Testname           911
RUNNO              911
agesex             911
modifytime         911
Result               0
PATIENTTYPE        911
WARDNAME           911
SAMPLETAKENTIME    911
dtype: int64

In [10]:
sample.isna().any()

S.No               False
patientid          False
patientname        False
SN                 False
Testname           False
RUNNO              False
agesex             False
modifytime         False
Result              True
PATIENTTYPE        False
WARDNAME           False
SAMPLETAKENTIME    False
dtype: bool

In [11]:
sample_stat.columns

Index(['SNO', 'PATIENTID', 'VISITID', 'INPATIENTID', 'TESTNAMEID',
       'PATIENTTESTID', 'TESTPACKAGEID', 'CANCELSTATUS', 'AGESEX',
       'ISPACKAGETEST', 'BILLNO', 'DEPTYPE', 'TESTDATE', 'TESTTIME',
       'PATIENTTESTDATE', 'PATIENTTESTTIME', 'TESTPROGRESSSTATUS',
       'ISHRISWEBUPLOAD', 'FINDINGPOSTBY', 'FINDINGPOSTDATETIME', 'VERIFIEDBY',
       'COLLECTEDBY', 'VERIFIEDDATETIME', 'TITLE', 'PATIENTNAME', 'SAMPLENO',
       'NEWINPATIENTID', 'TESTNAME', 'TESTNAMECODE', 'DEPID', 'LABNO',
       'DISPER', 'PATIENTTYPE', 'MOBILENO', 'LOCATIONWISEID',
       'ISMACHINERESULT'],
      dtype='object')

In [12]:
#sample_stat['VERIFIEDDATETIME']=sample_stat['VERIFIEDDATETIME'].str.replace('/','-')

In [13]:
#sample_stat[occursin.("2081/02/29 ",sample_stat.VERIFIEDDATETIME), :]   #Select Sample stat date

In [14]:
#sample_stat['VERIFIEDDATETIME'].str.startswith(verified_date)  #Select Sample stat with verified date

In [15]:
sample_stat.dtypes

SNO                             int64
PATIENTID                       int64
VISITID                       float64
INPATIENTID                     int64
TESTNAMEID                      int64
PATIENTTESTID                   int64
TESTPACKAGEID                   int64
CANCELSTATUS                  float64
AGESEX                         object
ISPACKAGETEST                  object
BILLNO                         object
DEPTYPE                        object
TESTDATE                       object
TESTTIME                       object
PATIENTTESTDATE                object
PATIENTTESTTIME                object
TESTPROGRESSSTATUS              int64
ISHRISWEBUPLOAD                object
FINDINGPOSTBY                  object
FINDINGPOSTDATETIME            object
VERIFIEDBY                     object
COLLECTEDBY                    object
VERIFIEDDATETIME       datetime64[ns]
TITLE                          object
PATIENTNAME                    object
SAMPLENO                       object
NEWINPATIENTID                float64
TESTNAME                       object
TESTNAMECODE                   object
DEPID                           int64
LABNO                           int64
DISPER                        float64
PATIENTTYPE                    object
MOBILENO                      float64
LOCATIONWISEID                  int64
ISMACHINERESULT                object
dtype: object

In [16]:
sample_stat['VERIFIEDDATETIME']

0                      NaT
1                      NaT
2                      NaT
3                      NaT
4                      NaT
               ...
1705   2081-03-04 11:21:44
1706   2081-03-04 12:12:35
1707   2081-03-04 11:50:31
1708   2081-03-04 12:17:59
1709   2081-03-04 09:20:28
Name: VERIFIEDDATETIME, Length: 1710, dtype: datetime64[ns]

In [17]:
sample_bl = sample.loc[sample['Testname'].str.contains("^BL")]   #Select Sample Testname == Blood

In [18]:
sample_bal = sample.loc[sample['Testname'].str.contains("^BRON")]  #Select Sample Testname == Broncheolar Lavage

In [19]:
sample_et = sample.loc[sample['Testname'].str.contains("^ENDOTRACHEA")]  #Select Sample Testname == Endotracheal Aspirate

In [20]:
sample_et.count()

S.No               1
patientid          1
patientname        1
SN                 1
Testname           1
RUNNO              1
agesex             1
modifytime         1
Result             0
PATIENTTYPE        1
WARDNAME           1
SAMPLETAKENTIME    1
dtype: int64

In [21]:
sample_stat=sample_stat.loc[sample_stat['VERIFIEDDATETIME'] > verified_date]
sample_stat.shape

(273, 36)

In [22]:
sample_stat['VERIFIEDDATETIME']

595    2081-03-04 08:37:00
596    2081-03-04 08:38:28
633    2081-03-04 08:57:08
686    2081-03-04 08:33:13
690    2081-03-04 08:33:30
               ...
1705   2081-03-04 11:21:44
1706   2081-03-04 12:12:35
1707   2081-03-04 11:50:31
1708   2081-03-04 12:17:59
1709   2081-03-04 09:20:28
Name: VERIFIEDDATETIME, Length: 273, dtype: datetime64[ns]

In [23]:
sample_st_blood=sample_stat.loc[sample_stat['TESTNAME'].str.contains("^BL")]
sample_st_blood.shape

(31, 36)

In [24]:
sample_st_bal=sample_stat.loc[sample_stat['TESTNAME'].str.contains("^BRON")]
sample_st_bal.shape

(0, 36)

In [25]:
sample_st_et=sample_stat.loc[sample_stat['TESTNAME'].str.contains("^ENDOTRACHEA")]
sample_st_et.shape

(0, 36)

In [26]:
#sample_stat['Verified_Date']=pd.to_datetime(sample_stat['Verified_Date'], format='%Y-%m-%d')

In [27]:
blood_today = blood.loc[~blood['Finding'].str.contains("Culture|CANDIDA|Coagulase",na=True)]

In [28]:
blood_today1=blood_today[['Name', 'Patientid', 'Age', 'Sex', 'Sampleno',
       'SAMPLETAKENDATE', 'Finding', 'Sensitivity', 'Intermediate',
       'Resistant']]
blood_today1

,Name,Patientid,Age,Sex,Sampleno,SAMPLETAKENDATE,Finding,Sensitivity,Intermediate,Resistant
0,DIL MAYA LIMBU,80230391,60 Y,FEMALE,2081-N76458,2081/02/29,"BLOOD,Central line,Acinetobacter baumanii complex",COLISTIN,AMPICILLINSULBACTAM,"AMIKACIN,CEFIXIME,CEFTAZIDIME,CEFTRIAXONE,CIPR..."
1,DIL MAYA LIMBU,80230391,60 Y,FEMALE,2081-N76458,2081/02/29,"BLOOD,Peripheral line,Acinetobacter baumanii c...","COLISTIN,POLYMYXIN-B",NaN,"AMIKACIN,AMPICILLINSULBACTAM,CEFIXIME,CEFTAZID..."
2,UMESH SHRESTHA,80234026,35 Y,MALE,2081-N76664,2081/02/29,"BLOOD,Contaminant grown on culture. Please sen...",NaN,NaN,NaN
5,MINA DEVI SHAH,79092149,40 Y,FEMALE,2081-N76829,2081/02/29,"BLOOD,Contaminant grown on culture. Please sen...",NaN,NaN,NaN
22,JAGAT BAHADUR DEWAN,80235930,59 Y,MALE,2081-N77660,2081/02/29,"BLOOD,Contaminant grown on culture. Please sen...",NaN,NaN,NaN
43,KAMALA YAKHA,80221698,42 Y,FEMALE,2081-N78869,2081/02/30,"BLOOD,Escherichia coli","AMIKACIN,AMPICILLINSULBACTAM,CEFIXIME,CEFTAZID...",AMPICILLIN,NaN
58,UNIYES MUKHIYA,80124162,28 Y,FEMALE,2081-N80098,2081/02/31,"BLOOD,Pseudomonas species","CIPROFLOXACIN,LEVOFLOXACIN,MEROPENEM",TOBRAMYCIN,"AMIKACIN,AMPICILLINSULBACTAM,CARBENICILLIN,CEF..."
67,DHAN KUMAR RAI,80058517,44 Y,MALE,2081-N80093,2081/02/31,"BLOOD,Contaminant grown on culture. Please sen...",NaN,NaN,NaN
107,HEM NARAYAN MAJHI THARU,80174260,59 Y,MALE,2081-N82138,2081-03-01 00:00:00,"BLOOD,Klebsiella pneumoniae","AMIKACIN,AMPICILLINSULBACTAM,CEFTAZIDIME,CIPRO...",CEFTRIAXONE,CEFIXIME
182,MINA DEVI SHAH,79092149,40 Y,FEMALE,2081-N76792,2081/02/29,"BLOOD,Contaminant grown on culture. Please sen...",NaN,NaN,NaN

In [29]:
#pt_ID = 80029281
#sample_bl[sample_bl['Patientid'] == pt_ID ]

In [30]:
#sample[sample['patientid'] == pt_ID]

In [31]:
sample_bl.rename(columns = {'patientid' : 'Patientid'}, inplace = True)
sample_bl.rename(columns = {'agesex' : 'AGESEX'}, inplace = True)

sample_bl.columns

C:\Users\Dell\AppData\Local\Temp\ipykernel_14584\1371808549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_bl.rename(columns = {'patientid' : 'Patientid'}, inplace = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14584\1371808549.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_bl.rename(columns = {'agesex' : 'AGESEX'}, inplace = True)

Index(['S.No', 'Patientid', 'patientname', 'SN', 'Testname', 'RUNNO', 'AGESEX',
       'modifytime', 'Result', 'PATIENTTYPE', 'WARDNAME', 'SAMPLETAKENTIME'],
      dtype='object')

In [32]:
sample_bl1 = sample_bl[['Patientid', 'patientname', 'AGESEX','RUNNO', 'WARDNAME']]
sample_bl1

      Patientid            patientname AGESEX            RUNNO        WARDNAME
0    80238155.0      BIPIN    CHADHARY   30/M  CS80/81-1158931      MEDICINE I
4    80237056.0  AAKASH  KUMAR  MAHATO    3/M  CS80/81-1144774   PAEDIA WARD I
23   80235505.0     AAYANSHU  ADHIKARI   19/F  CS80/81-1145472   PAEDIA WARD I
25   80235726.0            AAYESH  RAI    9/M  CS80/81-1139987  PAEDIA WARD II
28   80235073.0         AAYUSHA  MAGAR   15/F  CS80/81-1134160  PAEDIA WARD II
..          ...                    ...    ...              ...             ...
894   3030123.0          URMILA  DAHAL   50/F  TP80/81-0045987            SICU
895   3030123.0          URMILA  DAHAL   50/F  TP80/81-0045987            SICU
899  80239147.0           VIJAY   LAMA   55/M  CS80/81-1155381       SURGERY I
900  80239147.0           VIJAY   LAMA   55/M  CS80/81-1155381       SURGERY I
908  80237054.0    YUNCHHO  HANG LIMBU    4/M  CS80/81-1145573  PAEDIA WARD II

[144 rows x 5 columns]

In [33]:
sample_bl1.rename(columns = {'RUNNO' : 'BILLNO'}, inplace = True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_14584\1748539044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_bl1.rename(columns = {'RUNNO' : 'BILLNO'}, inplace = True)

In [34]:
sample_st_blood1=sample_st_blood[['PATIENTID', 'AGESEX',
       'BILLNO', 'VERIFIEDBY',
       'VERIFIEDDATETIME', 'TITLE', 'PATIENTNAME', 'SAMPLENO',
      'TESTNAME', 'TESTNAMECODE', 'LABNO',
        'PATIENTTYPE']]
sample_st_blood1.head(5)

,PATIENTID,AGESEX,BILLNO,VERIFIEDBY,VERIFIEDDATETIME,TITLE,PATIENTNAME,SAMPLENO,TESTNAME,TESTNAMECODE,LABNO,PATIENTTYPE
595,81001372,1 /MALE,CS80/81-1146505,RK,2081-03-04 08:37:00,B/O,B/O BEBISA LIMBU,2081-N80583,BLOOD C/S,MIC051,80583,IPD / 7
596,81001370,1 /MALE,CS80/81-1146507,RK,2081-03-04 08:38:28,B/O,B/O TARA RAI,2081-N80587,BLOOD C/S,MIC051,80587,IPD / 3
633,80124162,28 /FEMALE,CR80/81-1148848,RK,2081-03-04 08:57:08,Ms.,UNIYES MUKHIYA,2081-N80098,BLOOD C/S,MIC051,80098,IPD / 10
686,79252254,2 /MALE,CR80/81-1146388,RK,2081-03-04 08:33:13,Mr.,DIPAK BUDHATHOKI,2081-N80473,BLOOD C/S,MIC051,80473,IPD / 31
690,80237633,3 /FEMALE,CR80/81-1146444,RK,2081-03-04 08:33:30,B/O,B/O KOPILA MAGAR,2081-N80513,BLOOD C/S,MIC051,80513,EMR

In [35]:
sample_combined_bl=sample_bl1.merge(sample_st_blood1,how='inner',on='BILLNO')

In [36]:
sample_combined_bl.columns

Index(['Patientid', 'patientname', 'AGESEX_x', 'BILLNO', 'WARDNAME',
       'PATIENTID', 'AGESEX_y', 'VERIFIEDBY', 'VERIFIEDDATETIME', 'TITLE',
       'PATIENTNAME', 'SAMPLENO', 'TESTNAME', 'TESTNAMECODE', 'LABNO',
       'PATIENTTYPE'],
      dtype='object')

In [37]:
len(sample_combined_bl.index)

25

In [38]:
sample_combined_bl.drop_duplicates().head(5)

,Patientid,patientname,AGESEX_x,BILLNO,WARDNAME,PATIENTID,AGESEX_y,VERIFIEDBY,VERIFIEDDATETIME,TITLE,PATIENTNAME,SAMPLENO,TESTNAME,TESTNAMECODE,LABNO,PATIENTTYPE
0,80236711.0,ABDUL REHMAN,46/M,CS80/81-1149635,ICU-1 (ANAESTHESIOLOGY & CRITICAL CARE),80236711,46 /MALE,RK,2081-03-04 08:48:15,Mr.,ABDUL REHMAN,2081-N81788,BLOOD C/S,MIC051,81788,IPD / 7
1,80236757.0,ANUSHA RAI,9/F,CS80/81-1149211,PAEDIA WARD II,80236757,9 /FEMALE,RK,2081-03-04 08:43:26,Ms.,ANUSHA RAI,2081-N81505,BLOOD C/S,MIC051,81505,IPD / 30
2,80236757.0,ANUSHA RAI,9/F,CS80/81-1149211,PAEDIA WARD II,80236757,9 /FEMALE,RK,2081-03-04 08:43:08,Ms.,ANUSHA RAI,2081-N81464,BLOOD C/S,MIC051,81464,IPD / 30
5,80232578.0,AROSHI KUMARI SAH,6/F,CS80/81-1147125,PAEDIA WARD I,80232578,6 /FEMALE,RK,2081-03-04 08:40:53,Ms.,AROSHI KUMARI SAH,2081-N81044,BLOOD C/S,MIC051,81044,IPD / 15
6,81001372.0,B/O BEBISA LIMBU,1/M,CS80/81-1146505,NURSARY WARD,81001372,1 /MALE,RK,2081-03-04 08:37:00,B/O,B/O BEBISA LIMBU,2081-N80583,BLOOD C/S,MIC051,80583,IPD / 7

In [39]:
sample_combined_bl.columns

Index(['Patientid', 'patientname', 'AGESEX_x', 'BILLNO', 'WARDNAME',
       'PATIENTID', 'AGESEX_y', 'VERIFIEDBY', 'VERIFIEDDATETIME', 'TITLE',
       'PATIENTNAME', 'SAMPLENO', 'TESTNAME', 'TESTNAMECODE', 'LABNO',
       'PATIENTTYPE'],
      dtype='object')

In [40]:
blood_HAI=blood_today1.merge(sample_combined_bl,how='inner',on='Patientid')

In [41]:
blood_HAI = blood_HAI[['VERIFIEDDATETIME','Name',  'Age', 'Sex','Patientid', 'Sampleno','WARDNAME', 'SAMPLETAKENDATE','TESTNAME',
       'Finding', 'Sensitivity', 'Intermediate', 'Resistant',
       'BILLNO' ]]

In [42]:
blood_HAI

,VERIFIEDDATETIME,Name,Age,Sex,Patientid,Sampleno,WARDNAME,SAMPLETAKENDATE,TESTNAME,Finding,Sensitivity,Intermediate,Resistant,BILLNO
0,2081-03-04 08:57:08,UNIYES MUKHIYA,28 Y,FEMALE,80124162,2081-N80098,GYNAE WARD,2081/02/31,BLOOD C/S,"BLOOD,Pseudomonas species","CIPROFLOXACIN,LEVOFLOXACIN,MEROPENEM",TOBRAMYCIN,"AMIKACIN,AMPICILLINSULBACTAM,CARBENICILLIN,CEF...",CR80/81-1148848

In [43]:
blood_HAI=blood_HAI.drop_duplicates(subset='Patientid',keep='first')
blood_HAI.head()

,VERIFIEDDATETIME,Name,Age,Sex,Patientid,Sampleno,WARDNAME,SAMPLETAKENDATE,TESTNAME,Finding,Sensitivity,Intermediate,Resistant,BILLNO
0,2081-03-04 08:57:08,UNIYES MUKHIYA,28 Y,FEMALE,80124162,2081-N80098,GYNAE WARD,2081/02/31,BLOOD C/S,"BLOOD,Pseudomonas species","CIPROFLOXACIN,LEVOFLOXACIN,MEROPENEM",TOBRAMYCIN,"AMIKACIN,AMPICILLINSULBACTAM,CARBENICILLIN,CEF...",CR80/81-1148848

In [44]:
bal=bal[['Name', 'Patientid', 'Age', 'Sex', 'Sampleno',
       'SAMPLETAKENDATE', 'Finding', 'Sensitivity', 'Intermediate',
       'Resistant']]
bal

,Name,Patientid,Age,Sex,Sampleno,SAMPLETAKENDATE,Finding,Sensitivity,Intermediate,Resistant
0,BHOLA MANDAL,80217266,65 Y,MALE,2081-N76419,2081/02/29,Pseudomonas aeruginosa,POLYMYXIN-B,NaN,"AMIKACIN,CEFTAZIDIME,CEFTRIAXONE,GENTAMICIN,IM..."
1,BISHESWAR SANT,80229785,53 Y,MALE,2081-N78552,2081/02/30,Pseudomonas SPP.,"AMIKACIN,CEFTAZIDIME,LEVOFLOXACIN",TOBRAMYCIN,"CARBENICILLIN,IMIPENEM,PIPERACILLIN"
2,KALABATI CHAUDHARY,80223308,55 Y,FEMALE,2081-N84948,2081-03-03 00:00:00,NaN,NaN,NaN,NaN
3,KISHOR KUMAR SHRESTHA,80233987,63 Y,MALE,2081-N85094,2081-03-03 00:00:00,NaN,NaN,NaN,NaN
4,KISHOR KUMAR SHRESTHA,80233987,63 Y,MALE,2081-N85732,2081-03-04 00:00:00,NaN,NaN,NaN,NaN

In [45]:
bal_today = bal.loc[~bal['Finding'].str.contains("Culture|CANDIDA|Coagulase",na=True)]
bal_today

,Name,Patientid,Age,Sex,Sampleno,SAMPLETAKENDATE,Finding,Sensitivity,Intermediate,Resistant
0,BHOLA MANDAL,80217266,65 Y,MALE,2081-N76419,2081/02/29,Pseudomonas aeruginosa,POLYMYXIN-B,NaN,"AMIKACIN,CEFTAZIDIME,CEFTRIAXONE,GENTAMICIN,IM..."
1,BISHESWAR SANT,80229785,53 Y,MALE,2081-N78552,2081/02/30,Pseudomonas SPP.,"AMIKACIN,CEFTAZIDIME,LEVOFLOXACIN",TOBRAMYCIN,"CARBENICILLIN,IMIPENEM,PIPERACILLIN"

In [46]:
et[['Name', 'Patientid', 'Age', 'Sex', 'Sampleno',
       'SAMPLETAKENDATE', 'Finding', 'Sensitivity', 'Intermediate',
       'Resistant']]

,Name,Patientid,Age,Sex,Sampleno,SAMPLETAKENDATE,Finding,Sensitivity,Intermediate,Resistant
0,JANG BAHADUR RAI,80237660,77 Y,MALE,2081-N82342,2081-03-02,NaN,NaN,NaN,NaN

In [47]:
et_today = et.loc[~et['Finding'].str.contains("Culture|CANDIDA|Coagulase",na=True)]
et_today

AttributeError: Can only use .str accessor with string values!

In [48]:
sample_bal.rename(columns = {'RUNNO' : 'BILLNO'}, inplace = True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_14584\2726126569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_bal.rename(columns = {'RUNNO' : 'BILLNO'}, inplace = True)

In [49]:
sample_bal.rename(columns = {'patientid' : 'Patientid'}, inplace = True)
sample_bal.rename(columns = {'agesex' : 'AGESEX'}, inplace = True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_14584\111709958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_bal.rename(columns = {'patientid' : 'Patientid'}, inplace = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14584\111709958.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_bal.rename(columns = {'agesex' : 'AGESEX'}, inplace = True)

In [50]:
sample_combined_bal = sample_bal.merge(sample_st_bal,how='inner',on='BILLNO')
sample_combined_bal.columns

Index(['S.No', 'Patientid', 'patientname', 'SN', 'Testname', 'BILLNO',
       'AGESEX_x', 'modifytime', 'Result', 'PATIENTTYPE_x', 'WARDNAME',
       'SAMPLETAKENTIME', 'SNO', 'PATIENTID', 'VISITID', 'INPATIENTID',
       'TESTNAMEID', 'PATIENTTESTID', 'TESTPACKAGEID', 'CANCELSTATUS',
       'AGESEX_y', 'ISPACKAGETEST', 'DEPTYPE', 'TESTDATE', 'TESTTIME',
       'PATIENTTESTDATE', 'PATIENTTESTTIME', 'TESTPROGRESSSTATUS',
       'ISHRISWEBUPLOAD', 'FINDINGPOSTBY', 'FINDINGPOSTDATETIME', 'VERIFIEDBY',
       'COLLECTEDBY', 'VERIFIEDDATETIME', 'TITLE', 'PATIENTNAME', 'SAMPLENO',
       'NEWINPATIENTID', 'TESTNAME', 'TESTNAMECODE', 'DEPID', 'LABNO',
       'DISPER', 'PATIENTTYPE_y', 'MOBILENO', 'LOCATIONWISEID',
       'ISMACHINERESULT'],
      dtype='object')

In [51]:
sample_combined_bal[['Patientid', 'patientname', 'Testname', 'BILLNO',
        'WARDNAME',
       'SAMPLETAKENTIME',  'VERIFIEDBY',
       'VERIFIEDDATETIME',  'SAMPLENO']]

Empty DataFrame
Columns: [Patientid, patientname, Testname, BILLNO, WARDNAME, SAMPLETAKENTIME, VERIFIEDBY, VERIFIEDDATETIME, SAMPLENO]
Index: []

In [52]:
bal_HAI = bal_today.merge(sample_combined_bal,how='inner',on='Patientid')
bal_HAI.shape

(0, 56)

In [53]:
bal_HAI = bal_HAI[['Name', 'Patientid', 'Age', 'Sex', 'Sampleno', 'WARDNAME', 'SAMPLETAKENDATE',
       'Finding', 'Sensitivity', 'Intermediate', 'Resistant','Testname', 'BILLNO','VERIFIEDBY', 'COLLECTEDBY', 'VERIFIEDDATETIME',]].copy()

In [54]:
bal_HAI

Empty DataFrame
Columns: [Name, Patientid, Age, Sex, Sampleno, WARDNAME, SAMPLETAKENDATE, Finding, Sensitivity, Intermediate, Resistant, Testname, BILLNO, VERIFIEDBY, COLLECTEDBY, VERIFIEDDATETIME]
Index: []

In [55]:
sample_et.rename(columns = {'RUNNO' : 'BILLNO'}, inplace = True)
sample_et.rename(columns = {'patientid' : 'Patientid'}, inplace = True)
sample_et.rename(columns = {'agesex' : 'AGESEX'}, inplace = True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_14584\3373453125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_et.rename(columns = {'RUNNO' : 'BILLNO'}, inplace = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14584\3373453125.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_et.rename(columns = {'patientid' : 'Patientid'}, inplace = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14584\3373453125.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_et.rename(columns = {'agesex' : 'AGESEX'}, inplace = True)

In [56]:
sample_combined_et = sample_et.merge(sample_st_et,how='inner',on='BILLNO')
sample_combined_et.shape

(0, 47)

In [57]:
et_HAI = et_today.merge(sample_combined_et,how='inner',on='Patientid')
et_HAI = et_HAI[['Patientid', 'patientname', 'Testname', 'BILLNO','VERIFIEDDATETIME','WARDNAME','Finding']].copy()
et_HAI

NameError: name 'et_today' is not defined

In [ ]:
#blood_HAI.to_excel("../ACORN-HAI/2023_09_26/ACORN-HAI-BLOOD_2023_09_26.xlsx")
#bal_HAI.to_excel("../ACORN-HAI/2023_09_22/ACORN-HAI-BAL_2023_09_22.xlsx")
#et_HAI.to_excel("../ACORN-HAI/2023_09_26/ACORN-HAI-ET_2023_09_26.xlsx")
#sample_stat.to_excel("../ACORN-HAI/2024_06_16/ACORN-HAI-sample_stat_2024_06_16.xlsx")

Nepali date to english date

In [ ]:
#from nepali_date_converter import english_to_nepali_converter
#from nepali_date_converter import nepali_to_english_converter

In [ ]:
#english_to_nepali_converter(2024,6,7)

In [ ]:
#nepali_to_english_converter(2081,2,27)